@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
body{
    background-color: #fef2f2;
    font-family: "Josefin Sans", sans-serif;
    background-image: linear-gradient(to right, #F894A4,#F9D1B7);
}
.container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    text-align: center;
    margin: auto;
    /* background-color: #f87171; */
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 0.5rem;
  }
  th, td {
    background-color: #f87171;
  }
  button{
    border-radius: 1rem;
    color: black;
    display: block;
    max-width: 500px;
    margin: 1rem auto;
    padding: 0.5rem 4rem 0.5rem 4rem;
    background-color: #fecaca;
    font-family: "Josefin Sans", sans-serif;
  }

  .pad{
    padding: 0.5rem;
  }
